<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springMVC.dao.SysUserMapper" > 

		<sql id="Base_Column_List" >
			 ID,USERNAME,PASSWORD,DISABLEFLAG,TRUENAME,TELEPHONENO,TYPE
		</sql>
		
		<!-- 根据用户名查询  -->
		<select id="getUser"  resultType="SysUserDTO" parameterType="String">
			select * from sys_user where userName = #{userName}
		</select>
		
			  	
		<!--获取全部用户  -->
		<select id="getUserAll"  resultType="SysUserDTO" parameterType="map">
				SELECT 
				<if test="map.isFalg==true">
					(SELECT COUNT(id) FROM sys_user )as 'num',
				</if>
				<include refid="Base_Column_List"/>
				 FROM sys_user WHERE 1=1
				 ORDER BY id
				 <if test="map.isFalg==true">
				 	LIMIT #{map.firstResult}, #{map.maxResults}
				 </if>				 
		</select>		
		
		<!-- 根据用户ID查询  -->
		<select id="getUserById"  resultType="SysUserDTO" parameterType="String">
			select
			 <include refid="Base_Column_List"/>
			from sys_user where id = #{userId}
		</select>
		
		 <!-- 添加用户 -->
		 <insert id="addUser" parameterType="SysUserDTO">
		 	<selectKey resultType="String" order="BEFORE" keyProperty="id"> 
		       SELECT replace(uuid(),'-','')
		      </selectKey>
		      INSERT INTO sys_user(<include refid="Base_Column_List"/>) 
		      VALUES(#{id},#{userName},#{passWord},#{disableFlag},#{trueName},#{telephoneNo},#{type})
		 </insert>
		  	
	  	<!-- 修改用户 根据id -->
	  	<update id="updateUser" parameterType="SysUserDTO"> 
	  	UPDATE sys_user SET disableFlag=#{disableFlag},trueName=#{trueName},telephoneNo=#{telephoneNo},
	  	type=#{type}, PASSWORD=#{passWord} WHERE id=#{id}
	  	</update>		  	
	  	
	<delete id="deleteUser" parameterType="SysUserDTO">
		delete FROM sys_user WHERE id=#{id}
	</delete>	
</mapper>   
