@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}

body{ background:#8ac1dd url(../images/bg.jpg) repeat-x;}
.conter{ margin:94px auto auto auto; background:url(../images/conter_bg3.jpg) no-repeat; width:1002px; height:505px;}
.login{ width:280px; padding-top:170px; margin:0 auto;}
.login h1{ font-size:14px; color:#5d5d5d; text-align:center; height:30px; line-height:30px;}
.login h2{font-size:14px; color:#5d5d5d; text-align:center; font-weight:normal;}
.table01{ margin-top:10px;}
.table01 th{ height:35px; width:56px; font-size:14px; color:#5c5959;font-weight:normal; line-height:35px;}
.table01 input{ border:1px solid #cdc8c8; height:24px; background:#fbfbfb; width:167px;}
.table01 a{ width:55px; height:24px; background:url(../images/buttom.gif); display:block; font-size:14px; text-align:center; line-height:24px; color:#ffffff; text-decoration:none; float:left; margin:0 5px;}
td{
	position: relative;
}
.login-code{
	width: 60px !important;
}
#login_code_img{
	position: absolute;
	top: 7px;
	left: 65px;
}
.change-code-btn{
	position: absolute;
	background: none !important;
	font-size: 12px !important;
	margin: 0 !important;
	width: 85px !important;
	color: blue !important;
	top: 6px;
	left: 130px;
}